<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="KolesaUiTest">
    <test verbose="2"
          name="C:/Users/Wladyslaw/IdeaProjects/kolesakz/src/test/java/kolesakz/FirstTest.java">


        <groups>
            <run>
                <include name = "UiTest" />
            </run>
        </groups>

        <classes>
            <class name="kz.kolesa.uiTest.KolesaTest">
                <methods>
                    <include name="publishAdvertTest"/>
                    <include name="AdvancedSearchTest"/>
                    <include name="SearchWithPhotoTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>